.home-header {
  padding: 1rem;
  display: flex;
  color: var(--black);
  border-radius: 0.4rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.filter-sort-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}
.filter-sort-icon {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  color: var(--teal);
  cursor: pointer;
}

.task-action-option {
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.4rem;
  color: var(--teal);
  cursor: pointer;
}

.home-header .mobile-nav-btn {
  font-size: calc(var(--spacing-unit) * 2);
}

@media screen and (max-width: 500px) {
  .home-header {
    gap: calc(var(--spacing-unit) * 1);
  }
  .home-header .btn-outline {
    width: 80%;
  }
  .home-header .search-container {
    width: 100%;
    align-items: center;
  }
}
