.task {
  background-color: var(--white);
  padding: 1rem;
  margin-bottom: 0.7rem;
  min-width: 15vw;
  cursor: pointer;
}

.task-header {
  text-align: left;
  padding-bottom: 1rem;
}
.task-body {
  padding-bottom: 1rem;
  text-align: left;
  max-height: 20vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.task-body > .DraftEditor-root {
  border: none;
  overflow: hidden;
  text-align: left;
  padding: 0;
  height: 50%;
  max-height: 10vh;
  margin: 0;
}
.task-date {
  text-align: right;
  font-weight: 500;
}

.priority {
  padding: calc(0.5 * var(--spacing-unit));
}

.high {
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.2rem;
}

.medium {
  background-color: var(--light-green);
  color: var(--white);
  border-radius: 0.2rem;
}

.low {
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 0.2rem;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
