#kash-modal {
  display: flex;
}
.kash-modal {
  top: 0;
  display: flex;
  flex-direction: row;
  height: 70vh;
  overflow-y: scroll;
  flex-flow: row wrap;
  width: 40%;
}

@media screen and (max-width: 500px) {
  .kash-modal {
    width: 95%;
  }
}
