:root {
  --teal: #54bab9;
  --beige: #e9dac1;
  --cream: #f7ecde;
  --light-white: #fbf8f1;
  --white: #fff;
  --black: #000;
  --gray: rgb(0 0 0 / 16%);
}
.kash-container {
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
